.spinner {
  margin: 100px auto;
  width: 20px;
  height: 20px;
  position: relative;
}

.spinner-container1 > div, .spinner-container2 > div, .spinner-container3 > div {
  width: 6px;
  height: 6px;
  background-color: #333;

  border-radius: 100%;
  position: absolute;
  -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
  animation: bouncedelay 1.2s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .spinner-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.spinner-container2 {
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.spinner-container3 {
  -webkit-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}

.spin-circle1 { top: 0; left: 0; }
.spin-circle2 { top: 0; right: 0; }
.spin-circle3 { right: 0; bottom: 0; }
.spin-circle4 { left: 0; bottom: 0; }

.spinner-container2 .spin-circle1 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner-container3 .spin-circle1 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner-container1 .spin-circle2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner-container2 .spin-circle2 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.spinner-container3 .spin-circle2 {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}

.spinner-container1 .spin-circle3 {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

.spinner-container2 .spin-circle3 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.spinner-container3 .spin-circle3 {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

.spinner-container1 .spin-circle4 {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

.spinner-container2 .spin-circle4 {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

.spinner-container3 .spin-circle4 {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}